{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="privacy-policy-container">
        <h1>Privacy Policy</h1>
        <ol>
            <li>
                Offer as a Binding Contract
                <ul>
                    <li>
                        Offer Process: When you place an offer on Firesale, you acknowledge that it is a binding contract. If your offer is accepted by the seller, you are obligated to purchase the item at the agreed-upon price.
                    </li>
                    <li>
                        Buyer's Obligation: If your bid is accepted by the seller, you agree to complete the transaction by purchasing the item. Failure to do so may result in account suspension or other consequences.
                    </li>
                </ul>
            </li>
            <li>
                Information Security
                <ul>
                    <li>
                        We have implemented appropriate security measures to safeguard your personal information from unauthorized access, disclosure, alteration, or destruction. However, it is important to note that no method of transmission over the internet or electronic storage is 100% secure. While we strive to protect your personal information, we cannot guarantee its absolute security.
                    </li>
                </ul>
            </li>
            <li>
                Retention of Information
                <ul>
                    <li>
                        We will retain your personal information only for as long as necessary to fulfill the purposes outlined in this Privacy Policy, unless a longer retention period is required or permitted by law.
                    </li>
                </ul>
            </li>
            <li>
                Third-Party Websites and Services
                <ul>
                    <li>
                        Firesale may contain links to third-party websites or services that are not owned or controlled by us. This Privacy Policy does not apply to such third-party websites or services, and we encourage you to review the privacy policies of those websites or services before providing any personal information.
                    </li>
                </ul>
            </li>
            <li>
                Changes to this Privacy Policy
                <ul>
                    <li>
                        We reserve the right to modify or update this Privacy Policy from time to time. If we make any material changes, we will notify you by email or by posting a prominent notice on Firesale prior to the change becoming effective. Your continued use of Firesale after any such changes constitutes your acceptance of the updated Privacy Policy.
                    </li>
                </ul>
            </li>
            <li>
                Contact Us
                <ul>
                    <li>
                        If you have any questions or concerns regarding this Privacy Policy or our privacy practices, please contact us at one of the emails listed below.
                        <ul>
                            <li>saraa20@ru.is</li>
                            <li>briet20@ru.is</li>
                            <li>rennveigs20@ru.is</li>
                            <li>eythore19@ru.is</li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ol>
    </div>
{% endblock %}
