.profile-container {
  min-height: fit-content;
  width: 100%;
  max-width: 650px;
  margin: auto;
  margin-top: 24px;
  background-color: white;
  border-radius: 8px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.25);
}

.profile-info {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10px;
  margin: 8px;
}

.profile-header-text {
  font-weight: 800;
}

.profile-picture {
  background-color: #1bafd0;
  border-radius: 80px;
}

.profile-picture-container {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}

.profile-edit-btn {
  width: 100%;
  margin-top: 24px;
}

.profile-bio {
  resize: none;
  border: none;
  background-color: white;
  color: black;
}
