.candy {
  border-bottom: 2px solid black;
}

.items {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 24px;
}

.catalog-hero {
  margin-top: 64px;
  margin-bottom: 24px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}

.single-item {
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.single-item:hover {
  transform: scale(1.01);
}

.image-container {
  position: relative;
  height: 300px;
  width: 100%;
}

.item-img {
  object-fit: cover;
  width: 100%;
}

.mainButton {
  background-color: #1bafd0;
  color: white;
}

.mainSelect {
  border: 1px solid var(--bs-border-color);
  border-radius: 8px;
}

.item-detail-wrapper {
  margin-top: 64px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 60px;
}

.item-detail-img-wrapper {
  grid-column: 1/4;
  height: 400px;
}

.carousel,
.item,
.active {
  grid-column: 1/4;
  height: 500px;
  margin-bottom: 60px;
}

.carousel img {
  height: 500px;
  object-fit: cover;
}
