.catalog-hero {
  margin-top: 64px;
  margin-bottom: 24px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}

.items-grid {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 24px;
}

.single-item {
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.single-item:hover {
  transform: scale(1.01);
}

.image-container {
  position: relative;
  height: 300px;
  width: 100%;
}

.item-img {
  object-fit: cover;
  width: 100%;
}

.item-detail-wrapper {
  margin-top: 64px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 40px;
}

.carousel {
  grid-column: 1/4;
  height: 500px;
}

.carousel img {
  height: 500px;
  object-fit: cover;
}

.item-detail-content {
  grid-column: 4/7;
}

.item-detail-seller-button {
  grid-column: span 2;
}

.wrapper {
  background-color: #FFFFFF;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-radius: 8px;
  box-shadow: 0 2.5px 6px rgba(0,0,0,0.5);
}

.form-right-section {
  grid-column: 2/3;
  grid-row: 1/7;
  display: flex;
  flex-direction: column;
  margin-right: 20px ;
}
.form-text-section{
  margin-top: 20px;
  margin-left: 30px;
  flex-shrink: 0;
}

.form-right-section > input {
  margin-top: 20px;
  margin-bottom: 20px;
  height: 65px;
  width: 501px;
  border-radius: 10px #959595;
}

/* #id_image {
  background-color: blue;
  grid-column: 1/2;
} */

#id_description {
  background-color: black;
  width: 501px;
  height: 157px;
}  