{% extends 'base.html' %}{% load static %} {% block content %}
<link rel="stylesheet" href="{% static 'person/css/main.css' %}" />

<div class="profile-container">
  <h2 class="profile-header-text">Profile</h2>
  <div class="profile-picture-container">
    <img src="" alt="Profile photo of user" class="profile-picture" />
  </div>

  {% for person in persons %} {% if person.id == 5 %}
  <div class="profile-info">
    <span class="profile-form-label">Name:</span>
    <span> {{ person.user }} </span>
    <span class="profile-form-label">Username:</span>
    <span> {{ person.user }} </span>
    <span class="profile-form-label">Email:</span>
    <span> {{ person.user }} </span>
    <span class="profile-form-label">Bio:</span>
    <textarea readonly class="profile-bio" name="bio" cols="50" rows="5">
 {{ person.bio }} </textarea
    >
    <span class="profile-form-label"> Rating</span>
    <span> 000 </span>
  </div>
  <button type="button" class="btn main-button profile-edit-btn">Edit</button>
  {% endif %} {% endfor %}
</div>
{% endblock %}
