{% extends 'base.html' %}
{% load static %}
{% block content %}
  <link rel="stylesheet" href="{% static 'checkout/css/main.css' %}" />
  <a href="/checkout/contact-information" class="checkout-go-back">
    <i class="fa-solid fa-chevron-left"></i>
    <span>Go back</span>
  </a>
  <h2 class="checkout-title">Payment information</h2>
  <form class="checkout-info-wrapper" action="/checkout/review">
    <div class="checkout-info-list">
      <label for="card_holder">Name of cardholder:</label>
      <input type="text" id="card_holder" name="card_holder" required>
      <label for="card_number">Card number:</label>
      {{ form.creditcard }}
      <!-- <input type="text" id="card_number" name="card_number" required> -->
    </div>
    <div class="checkout-info-list">
      <label for="expiration_date">Expiration date:</label>
      {{ form.date }}
      <!-- <input type="text" id="expiration_date" name="expiration_date" required> -->
      <label for="cvc">CVC:</label>
      {{ form.cvc }}
      <!-- <input type="text" id="cvc" name="cvc" required> -->
    </div>
    <input type="submit"
           value="Continue"
           class="btn main-button checkout-continue-button" />
  </form>
  {{ form.media }}
{% endblock %}
