<nav class="navbar navigationBar">
  <div class="leftSection">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasNavbar"
      aria-controls="offcanvasNavbar"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">Fire Sale</a>
  </div>
  <div class="rightSection">
    <span class="fa-solid fa-user icon"></span>
    <button type="button" class="btn mainButton rightSection">Login</button>
  </div>

  <div
    class="offcanvas offcanvas-start"
    tabindex="-1"
    id="offcanvasNavbar"
    aria-labelledby="offcanvasNavbarLabel"
  >
    <div class="offcanvas-header">
      <h5 class="offcanvas-title">Fire Sale</h5>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="offcanvas"
        aria-label="Close"
      ></button>
    </div>
    <div class="offcanvas-body">
      <ul class="navbar-nav justify-content-start flex-grow-1 pe-3">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'person-index' %}">My profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'item-index' %}">Item</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
