<nav class="navbar header-navigation-bar">
  <div class="header-left-section">
    <button class="navbar-toggler"
            type="button"
            data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/">
      <img class="header-img"
           src="/static/logo.png"
           alt="A logo for the footer "
           width="100"
           height="100" />
    </a>
  </div>
  <div class="right-section">
    <i class="fa-solid fa-star header-icon"></i>
    <a class="fa-solid fa-user header-icon" href="{% url 'person-index' %}"></a>
    <i class="fa-solid fa-bell header-icon"></i>
    <button type="button" class="btn main-button rightSection">Login</button>
  </div>
  <div class="offcanvas offcanvas-start"
       tabindex="-1"
       id="offcanvasNavbar"
       aria-labelledby="offcanvasNavbarLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title">
        <img class="header-img"
             src="/static/logo.png"
             alt="A logo for the footer "
             width="100"
             height="100" />
      </h5>
      <button type="button"
              class="btn-close"
              data-bs-dismiss="offcanvas"
              aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <ul class="navbar-nav justify-content-start flex-grow-1 pe-3">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'person-index' %}">My profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'create-item' %}">Create Item</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
