<nav class="navbar header-navigation-bar">
  <div class="header-left-section">
    {% if user.is_authenticated %}
      <button class="navbar-toggler"
              type="button"
              data-bs-toggle="offcanvas"
              data-bs-target="#offcanvasNavbar"
              aria-controls="offcanvasNavbar"
              aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    {% endif %}
    <a class="navbar-brand" href="/">
      <img class="header-img"
           src="/static/logo.png"
           alt="A logo for the footer "
           width="100"
           height="100" />
    </a>
  </div>
  <div class="header-right-section">
    {% if user.is_authenticated %}
      <span class="header-rating">{{ user.seller.rating }}</span>
      <i class="fa-solid fa-star header-icon"></i>
      {% if user.person.id %}
        <a class="fa-solid fa-user header-icon" href="{% url 'person-index' %}"></a>
        <a href="{% url 'checkout' %}"
           style="text-decoration: none"
           class="fa-solid fa-basket-shopping header-icon"></a>
      {% else %}
        <a class="fa-solid fa-user header-icon" href="{% url 'create-person' %}"></a>
        <a class="fa-solid fa-basket-shopping header-icon"
           style="text-decoration: none"
           href="{% url 'create-person' %}"></a>
      {% endif %}
      {% if user.inbox.unread > 0 %}
        <a href="{% url 'notification-list' %}"
           style="text-decoration: none"
           class="fa-solid fa-bell header-icon"></a>
      {% else %}
        <a href="{% url 'notification-list' %}"
           style="text-decoration: none"
           class="fa-regular fa-bell header-icon"></a>
      {% endif %}
      <a type="button" class="btn main-button" href="{% url 'logout' %}">Logout</a>
    {% else %}
      <a type="button" class="btn main-button" href="{% url 'login' %}">Login</a>
    {% endif %}
  </div>
  <div class="offcanvas offcanvas-start"
       tabindex="-1"
       id="offcanvasNavbar"
       aria-labelledby="offcanvasNavbarLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title">
        <img class="header-img"
             src="/static/logo.png"
             alt="A logo for the footer "
             width="100"
             height="100" />
      </h5>
      <button type="button"
              class="btn-close"
              data-bs-dismiss="offcanvas"
              aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <ul class="navbar-nav justify-content-start flex-grow-1 pe-3">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        {% if user.is_authenticated %}
          {% if user.person.id %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'person-index' %}">My Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'create-item' %}">Create Item</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'checkout' %}">Basket</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'notification-list' %}">Notifications</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'my-items' %}">My items</a>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'create-person' %}">My Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'create-person' %}">Create Item</a>
            </li>
          {% endif %}
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
