{% extends 'base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'checkout/css/main.css' %}" />
    <a href="/checkout/payment-information" class="checkout-go-back">
        <i class="fa-solid fa-chevron-left"></i>
        <span>Go back</span>
    </a>
    <div class="review-wrapper">
        <div class="review-info">
            <h2 class="checkout-title">Contact information</h2>
            <label for="full_name">
                Full name:
                <input type="text" id="full_name" name="full_name" disabled />
            </label>
            <label for="street_name">
                Street name:
                <input type="text" id="street_name" name="street_name" disabled />
            </label>
            <label for="house_number">
                House number:
                <input type="text" id="house_number" name="house_number" disabled />
            </label>
            <label for="city">
                City:
                <input type="text" id="city" name="city" disabled />
            </label>
            <label for="country">
                Country:
                <input type="text" id="country" name="country" disabled />
            </label>
            <label for="postal_code">
                Postal code:
                <input type="text" id="postal_code" name="postal_code" disabled />
            </label>
            <h2 class="checkout-title">Payment information</h2>
            <label for="card_holder">
                Name of cardholder:
                <input type="text" id="card_holder" name="card_holder" disabled />
            </label>
            <label for="card_number">
                Card number:
                <input type="text" id="card_number" name="card_number" disabled />
            </label>
            <label for="expiration_date">
                Expiration date:
                <input type="text" id="expiration_date" name="expiration_date" disabled />
            </label>
            <label for="cvc">
                CVC:
                <input type="text" id="cvc" name="cvc" disabled />
            </label>
        </div>
        <div class="review-purchase">
            <h2 class="checkout-title">Order summary</h2>
            {% for checkout_item in basket %}
                <div class="single-checkout-item-wrapper">
                    <img src="{{ checkout_item.item.itemimage_set.first.image.url }}"
                         alt="item image"
                         width="100"
                         height="100" />
                    <div class="checkout-item-details">
                        <b>{{ checkout_item.item.name }}</b>
                        <span>Your offer: {{ checkout_item.amount }} kr</span>
                    </div>
                </div>
                <hr>
            {% endfor %}
            <h3 class="checkout-title">Subtotal: {{ total }} kr</h3>
        </div>
        <a class="btn main-button confirm-purchase-btn"
           href="/checkout/thank-you"
           id="confirm_purchase">Confirm purchase</a>
    </div>
{% endblock %}
