.notification-container {
    height: fit-content;
    max-width: 60%;
    margin: auto;
    margin-top: 24px;
    background-color: white;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.25);
}

.notification-header-text {
    margin-top: 10px;
    margin-left: 20px;
}

.notification-error-text {
    color: #959595;
    margin-left: 20px;
}

.notification-icon {
    font-size: 1.5rem;
    display: block;
    margin: auto;
}