{% extends 'base.html' %}
{% load static %}
{% block content %}
  <link rel="stylesheet" href="{% static 'item/css/main.css' %}" />
  <div class="create-item-wrapper">
    <h2 class="create-item-hero-section">Create an item</h2>
    <form class="create-item-grid"
          enctype="multipart/form-data"
          action="{% url 'create-item' %}"
          method="post">
      {% csrf_token %}
      <label class="create-item-add-images">
        Add Images
        <input type="file" name="images" id="file-upload" multiple hidden />
        <i class="fa-light fa-plus fa-lg"></i>
        <span id="display-files"></span>
      </label>
      <div class="create-item-right-section">{{ form }}</div>
      <input type="submit"
             value="Create"
             class="btn main-button create-item-button"
             style="clear:both;
                    margin: 10px 0" />
    </form>
  </div>
{% endblock %}
