{% extends 'base.html' %}
{% load static %}
{% block content %}
  <link rel="stylesheet" href="{% static 'item/css/main.css' %}" />
  <div class="catalog-hero">
    <a type="button"
       id="create-item-btn"
       class="btn main-button"
       href="{% url 'create-item' %}">Create Item</a>
    <div>{{" "}}</div>
    <input type="search"
           class="form-control"
           id="search-box"
           placeholder="Search..." />
    <select class="select main-select" id="select-order">
      <option value="" disabled selected>Order by...</option>
      <option value="name">Name</option>
      <option value="price">Price</option>
    </select>
  </div>
  <div class="items-grid">
    {% for item in items %}
      {% include 'item/single_item.html' with item=item %}
    {% endfor %}
  </div>
{% endblock %}
