{% extends 'base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'item/css/main.css'}" />
    <h2 class="my-items-header">My items</h2>
    {% if users_items_list %}
        <div class="items-grid">
            {% for item in items %}
                {% include 'item/single_item.html' with item=item %}
            {% endfor %}
        </div>
    {% else %}
        <p class="my-items-error-text">You don't have any items listed for sale.</p>
    {% endif %}
{% endblock %}
