{% extends 'base.html' %}
{% load static %}
{% block content %}
  <link rel="stylesheet" href="{% static 'item/css/main.css' %}" />
  <div class="update-item-wrapper">
    <form class="edit-item-grid"
          action="{% url 'update-item' id %}"
          method="post">
      {% csrf_token %}
      {{ form }}
      <input type="submit"
             value="Update"
             class="btn main-button item-detail-seller-button"
             style="clear:both;
                    margin: 10px 0" />
    </form>
  </div>
{% endblock %}
