.site {
  background-color: #ededed;
  font-family: "PT Serif";
  font-style: normal;
  font-weight: 400;
}

.container {
  min-height: calc(100vh - 190px);
}

.main-button {
  background-color: #1bafd0;
  color: white;
}

.main-button:hover {
  background-color: #1bafd0;
  color: white;
  transform: scale(1.01);
}

.disabled-button,
.disabled-button:disabled {
  background-color: #1bafd0;
  color: white;
  opacity: 30%;
}

.disabled-button:hover {
  background-color: #1bafd0;
  color: white;
}

.main-select {
  border: 1px solid var(--bs-border-color);
  border-radius: 8px;
}

.secondary-button {
  background-color: #b9b7b7;
  color: white;
}

.secondary-button:hover {
  background-color: #b9b7b7;
  color: white;
  transform: scale(1.01);
}

.secondary-select {
  border: 1px solid var(--bs-border-color);
  border-radius: 8px;
}
