.navigationBar {
  padding-bottom: 10px;
  justify-content: space-between;
  box-shadow: 0 -3px 6px rgba(0, 0, 0, 0.5);
  background-color: white;
}

.mainButton {
  background-color: #1bafd0;
  color: white;
}

.rightSection {
  display: flex;
  justify-items: end;
}

.rightSection,
.leftSection {
  margin: 10px;
  align-items: center;
}

.icon {
  color: black;
  margin: 10px;
}
