.navigation-bar {
  padding-bottom: 10px;
  justify-content: space-between;
  box-shadow: 0 -3px 6px rgba(0, 0, 0, 0.5);
}

.main-button {
  background-color: #1bafd0;
  color: white;
}

.main-button:hover {
  background-color: #1bafd0;
  color: white;
  transform: scale(1.01);
}

/* TODO style the button when it is clicked */
/* .mainButton:active {
  color: purple;
} */

.right-section {
  display: flex;
  justify-items: end;
}

.right-section,
.left-section {
  margin: 10px;
  align-items: center;
}

.icon {
  color: black;
  margin: 10px;
  cursor: pointer;
}

.img {
  max-width: 100%;
  height: auto;
  margin: 5px;
}
