.navigationBar {
  padding-bottom: 10px;
  justify-content: space-between;
}

.mainButton {
  background-color: #1bafd0;
  color: white;
}

.rightSection {
  display: flex;
  justify-items: end;
}

.rightSection,
.leftSection {
  margin: 10px;
  align-items: center;
}

.icon {
  display: flex;
  margin: 10px;
}
